# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.pytest_cache/
.mypy_cache/

# Virtual environments
venv/
.venv/

# Secrets and local auth files
.env
credentials.json
token.pickle

# SQLite database
db/expenses.db

# OS/editor
.DS_Store
.vscode/

#MD
RUNBOOK*
